@import "tailwindcss";

@theme {
  --color-background: #000000;
  --color-foreground: #faebd7;
  --color-header: #250b0b;
  --color-accent: #ff6347;
  --color-accent-hover: #a52a2a;
  --color-card: #353333;
  --font-poppins: "Poppins", sans-serif;
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-poppins);
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 30s linear infinite;
  width: max-content;
}

.animate-marquee:hover {
  animation-play-state: paused;
}
